<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      Worth-reading.org is a service intended to improve the distribution of useful infomation.
      It allows recipients to thank senders for specific items and helps senders track appreciative
      recipients.
    </p>
    <p>This is a research project sponsored by Carnegie Mellon directed by James Morris exploring new
	models of journalism on the internet.
	 
    </p>
