<% provide(:title, 'About Us') %>
    <h1>About Us</h1>
    <p>
      Worth-reading.org is a service intended to improve the distribution of useful information.
      It allows recipients to thank senders for specific items and helps senders track appreciative
      recipients.
    </p>
    <p>
      To accomplish this senders of messages maintain a distribution list on our site and send us messages to be sent to
      the people on the list. The receivers' actions are tracked and tabulated on our site for the sender's information:
      when the message is opened and when the receiver clicks a link to see more of the message or simply thank the sender.
      Eventually these tabulated values will be used to guide the sender's choices of who to send messages to. A user can
      add or remove names from her subscriber list and her <i>source</i> list, the names of people to whom she subscribes.
    </p>
    <h2>Privacy Promise</h2>
    <p>
    Each user's account is password protected, and each can usually see only the messages they have sent and received. You can
    also see a list of all the users and any profile information they elect to provide. A list of the most popular recent
    messages is shown to all users, so some messages you send might also be available to anyone who is a user of our site.
    In other words, you should not assume that the messages you send through us are private. Your lists of subscribers
    and sources is private to you and the people on those lists.
    </p>
     <p>A very small number of administrators (currently two) have access to all the information on the site, and they
     will not reveal any personal information to anyone outside themselves.</p>
    <p> Scientific papers about users' behavior may be published, but no personal informaion, including the contents of
    any message will be revealed.
    </p>

    <h2>Who we are</h2>
     <p>This is a research project sponsored by Carnegie Mellon directed by James Morris &lt;james.morris@cmu.edu&gt;. Michael
        Villena &lt;mvillena3@gatech.edu&gt; did most of the implementation.
	 
    </p>
