- provide(:title, "Email Confirmation Sent")
.row
  .span8.offset2
    .hero-unit
      %p 
        We just need you to confirm your email to ensure you actually own the 
        email account specified before you can sign in.
