<% provide(:title, 'Help')%>
	<p> Worth Reading is a service intended to enhance the quality of messages people receive by allowing simple feedback
		 from receivers. </p>
	<h3>Sending</h3>
	<h3>Adding Subscribers</h3>
	<h3>Receiving<h3>
	<h3>Record Keeping</h3>
