<% provide(:title, 'Help')%>
<p xmlns="http://www.w3.org/1999/html"> Worth Reading is a service intended to enhance the quality of messages people receive by allowing simple feedback
		 from receivers. </p>
	<h3>Signing Up</h3>
	Find your way to the sign-up page. You are likely to be there in the beginning. If not, log out the current user.
	Provide an email address as your id and select a password. You'll be asked to find the email that we send you and click on
	a link to verify your email address. That will take you to another page that will ask you to log in with the new credentials.
    <h3> Subscribers and Sources</h3>
    People who will receive your emails are called subscribers. You can add or delete them at any time via the Subscribers
    tab on your home page. People who have you on their subscribers' list are called sources. You can add or delete sources at
    any time via the Sources tab.
    <h3>Sending Messages</h3>
    There are three ways to send messages:
    <ul>

      <li>Any message you send to subcribers@worth-reading.org will be sent to your subscribers. Each message will have a WorthReading</li>
        button at its end that the receiver can click to thank you for sending it.</li>

      <li>If you send a message to <i>person+address.dd</i>@worth-reading.org
        will be sent to <i>person+</i>@<i>address.dd</i>.</li>

      <li>You can initiate a message from a web browser using an extension (see below)</li>
    </ul>
<h3>Changing Profile</h3>
    You can change any of the sign-up information by accessing Account Settings under a drop-down menu associated with
    your name in the upper heading. If you change your email, you'll be asked to confirm it via a message as before.
    You can show your picture by uploading it to the internet service Gravatar. "Notify me of events by email" mean that
    most things a message receiver does will trigger an email message to you. If these messages become bothersome, remove
    the check from the box. "Forward messages I like to my subscribers" causes any messages on which you click the WorthReading
    button to be forwarded to your subscribers.


	<h3>Sending to </h3>
	<h3>Receiving<h3>
	<h3>Record Keeping</h3>
