<% provide(:title, 'Help')%>
	<p> Worth Reading is a service intended to enhance the quality of messages people receive by allowing simple feedback
		 from receivers. </p>
	<h3>Signing Up</h3>
	Find you way to the sign-up page. You are likely to be there in the beginning. If not, log out the current user.
	Provide an email address as your id and select a password. You'll be asked to find the email that we send you and click on
	a link to verify your email address. That will take you to another page that will ask you to log in with the new credentials.
	<h3>Changing Settings</h3>
	You can change any settings by clicking  Account Settings on the drop down menu under your name.
	<h3>Adding Subscribers</h3>
	
	<h3>Sending to </h3>
	<h3>Receiving<h3>
	<h3>Record Keeping</h3>
