<% provide(:title, 'Help')%>
	<p> Worth Reading is a service intended to enhance the quality of messages people receive by allowing simple feedback
		 from receivers. </p>
	<h2>Sending</h2>
	<h2>Adding Subscribers</h2>
	<h2>Receiving<h2>
	<h2>Record Keeping</h2>
