.row
  .span12
    .hero-unit
      %p
        The sender of your email is using a service called worth-reading.org 
        to help him/her to understand who appreciates the messages he/she sends. 
        If you click the Worth Reading button, your approval will be noted and 
        might encourage them to send you similar messages in the future.

      %p
        You can sign up for worth-reading.org yourself and use it to facilitate 
        bulk mailings and track responses to them.

      .br/
      %p
        #{link_to "Join Worth Reading", signup_path, class: 'btn btn-primary' } 

      %p
        #{link_to "Click Worth Reading for This message", '#'}
