.hero-unit
  %p
    I am using a service called worth-reading.org to help me know who likes the messages that I send.
    If you click #{link_to image_tag(@worth_img_url, alt: "Worth Reading", title: "Worth Reading", width: "173px", height: "56px"),
    @worth_reading_url} it will encourage me
    to send you more.
  %br/

  %p
    If you would also like to  use worth-reading.org sign up by clicking
    #{link_to "Join Worth Reading", signup_path, class: 'btn btn-primary' } 

