.hero-unit
  %p
    I am using a service called worth-reading.org to help me know who likes the messages that I send.
    If you click wr_log_path(worth_reading: "1", id: @log.id, token_identifier: @log.token_identifier) it will encourage me to send you
    similar messages.
  %br/

  %p
    If you would also like to  use worth-reading.org sign up by clicking
    #{link_to "Join Worth Reading", signup_path, class: 'btn btn-primary' } 

