.hero-unit
  %p
    I am using a service called worth-reading.org to help me know who likes the messages that I send.
    If you click the Worth Reading button it will encourage me to send you more.
  %br/

  %p
    If you would also like to  use worth-reading.org sign up by clicking
    #{link_to "Join Worth Reading", signup_path, class: 'btn btn-primary' } 

