.row
  .span4.offset3
    %br/
    %h2 Reset password
    %br/

.row
  .span6.offset3
    = form_tag password_resets_path, :method => :post do
      .field
        = label_tag :email, "Enter email:"
        = text_field_tag :email, params[:email]
      .actions= submit_tag "Reset Password", class: "btn btn-primary"
