<h1>Emails by Receive</h1>

<%= link_to 'Events', "wr_logs" %>

<table cellpadding="5">
  <tr>
    <th>Receiver</th>
    <th>Emails</th>
    <th>Ave Minutes to Open</th>
    <th>Ave Minutes to Click</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>


<% WrLog.select('receiver_id, count(email_id) as email_count').group('receiver_id').each do |line| %>
  <tr>
    <td><%= User.find(line.receiver_id).name %></td>
    <td><%= line.email_count %></td>
    <td></td>
    <td></td>
  </tr>
<% end %>
</table>

