!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    %p
      Dear #{@sender.name},

    %p
      #{@recipient.email} found your email worth reading.
