!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    %p Hi #{@sender.name},

    %p Your email could not be sent. #{@error}.

    %p You can follow #{@sign_url} to login in.
    
    %p Thanks,
    %p Your Friends at Worthreading

