!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

  %body
    .msg-body
      %p= @body.html_safe

    .worth-reading-link
      %p
        = link_to image_tag(@worth_img_url, alt: "Worth Reading"), @worth_reading_url

    - if @signature
      .signature
        %p= @signature.html_safe

    .web-beacon
      %p{ style: "visibility: hidden;", id: "web-beacon" }
        = image_tag(@beacon_url, alt: "")
