<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Worth Reading, <%= @user.name %></h1>
    <p>
      You have successfully signed up to Worth Reading,
      your username is: <%= @user.email %>.<br/>
    </p>
    <p>
      Please confirm you email address by following this link:
      <br />
      <%= @url %>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
