- provide(:title, @user.name)
.row
  %section
    %b
      Likes:
    = @user.likes
  %aside.span5
    %br/
    %br/
    = render 'shared/emails'
  .span5
    %br/
    %br/
    - if current_user?(@user)
      = render 'shared/subscriber_list'
