- provide(:title, @user.name)
.row
  %br/
  %br/

.row
  %aside.span5.offset1
    %h3= @user.name
    %h4
      =if current_user.admin?
        =@user.email
        =if !@user.confirmed?
          Not confirmed
    = gravatar_for @user
