- provide(:title, @user.name)
.row
  %br/
  %br/

.row
  %aside.span5.offset1
    %h3= @user.name
    =if current_user.admin?
      %h4
        =@user.email
        =if !@user.confirmed?
          Not confirmed
    = gravatar_for @user
    =if !current_user.subscribed_by?(@user)
      =link_to 'Add this person to my subscribers', 
        user_path(@user.id),
        method: :add_subscriber,
        param: current_user
    =if !@user.subscribed_by?(current_user)
      =link_to 'Subscribe to this person', 
        subscribe_me_user_path(current_user),
        method: :add_subscriber,
        param: @user.id
