%h2 Best Recent Messages
%table.table
  %tr
    %th Name
    %th Subject
    %th Forwarded
  - best_recent_emails.each do |line|
    %tr
      %td= link_to User.find(line.sender_id).name, user_path(User.find(line.sender_id))
      %td= link_to Email.find(line.email_id).subject.shorten, email_path(line.email_id)
      %td= line.forwarded

