%h2 Best Messages Today
  %table.table
    %tr
     %th Name
     %th Subject
     %th Votes
    - @WrLog.where('created_at > now+24.hours').order('likes DESC).first(10).each do |msg|
      %tr
        %td= User.find(msg.sender_id).name
        %td= User.find(msg.email_id).subject
        %td= msg.likes
