%h2 Best Recent Messages
%table.table
  %tr
    %th Name
    %th Subject
    %th Forwarded
  - best_recent_emails.each do |line|
    %tr
      - email =  Email.find(line.email_id)
      - sender = User.find_by_email(email.from)
      %td= link_to sender.name, user_path(sender)
      %td= link_to email.subject.shorten, email_path(email)
      %td= line.liked

