<% @user ||= current_user %>
<div class="stats">
  <a href="#">
    <strong id="subscribers" class="stat">
      <%= @user.subscribers.count %>
    </strong>
    subscribers
  </a>
  <a href="#">
    <strong id="subscribed_users" class="stat">
      <%= @user.subscribed_users.count %>
    </strong>
    subscribed to
  </a>
</div>
