%h3 Subscribers:
%br/
%p
  = form_tag('/relationships', class: 'form-horizontal') do |f|
    .input-append
      %input#appendedInputButton.span2{ :name => "email",
                                        :size => "18", 
                                        :type => "text", 
                                        :placeholder => "Enter email"}
      %button.btn{type: "submit"} Add 
- if !@subscribers.empty?
  - @subscribers.each do |subscriber|
    %table
      %tr
        %td #{subscriber.email} &nbsp;&nbsp;&nbsp;&nbsp; 
        %td= link_to "Log", "#"

- else
  Add a subscriber
