%ul.nav.nav-tabs
  %li{ class: ("active" if params[:action] == "home") }
    = link_to "Email List", root_path
  %li{class: ("active" if params[:action] == "index" && params[:controller] == "relationships") }
    = link_to "Subscriber List", relationships_path
  %li{class: ("active" if params[:action] == "subscribed_to_list") } 
    = link_to "Subscribed To List", subscribed_to_list_user_path(@user.id)
