%br/
%p
  %b Emails sent:
  = @email_count
%p
  %b Emails opened by my subscribers:
  %small TBF 
%p
  %b Emails liked by my subscribers: 
  %small TBF 
%p
  %b Most popular email:
  %small TBD
%p
  %b Least popular email:
  %small TBD
%br/
