%br/
%p
  %b Emails sent:
  = @email_count
%p
  %b Emails opened:
  %small TBD 
%p
  %b Emails worthreading: 
  %small TBD 
%p
  %b Most popular email:
  %small TBD
%p
  %b Least popular email:
  %small TBD
%br/
